{{#features}}
<div class="row">
  <div class="col-xs-12">
    <p><strong class="feature-header">{{name}}</strong><br>{{value}}</p>
  </div>
</div>
{{/features}}
{{^features}}
<div class="row">
  <div class="col-xs-12">
    <p>None</p>
  </div>
</div>
{{/features}}
