{{!<main>}}
<div class="row">
  <div class="col-xs-6">
    <form id="choose-race-form">
      <select name="race" id="race" class="form-control">
        <option disabled="disabled" selected="selected" value="-1">Choose a race</option>
        <ul class="dropdown-menu" role="menu" aria-labelledby="race-dropdown">
          {{#races}}
            <optgroup label="{{name}}">
              {{#subraces}}
                <option value="{{name}}">{{name}}</option>
              {{/subraces}}
              {{^subraces}}
                <option value="{{name}}">{{name}}</option>
              {{/subraces}}
            </optgroup>
          {{/races}}
        </ul>
      </select>

      <button type="submit" class="btn btn-default disabled" disabled="disabled">Next Step</button>
    </form>
  </div>
  <div class="col-xs-6" id="race-description">
    <div class="col-xs-12"><h4>Features</h4></div>
    <div class="col-xs-12" id="race-features"></div>
    <div class="col-xs-12"><h4>Traits</h4></div>
    <div class="col-xs-12" id="race-traits"></div>
  </div>
</div>
{{!</main>}}
